src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="api-config" api="api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\orders\(salesOrderId)\fulfillment:application\json:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="salesOrderId">attributes.uriParams.'salesOrderId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  carrier: "POSTAL",
  deliveryAddress: {
    identifier: "eb8c8ca7-3c42-4489-a820-3aa138430b75",
    "type": "SHIPPING",
    address: "Main street 122",
    city: "San Francisco",
    state: "California",
    postalCode: "90210",
    recipient: "Jason Bourne",
    country: "US",
    secondaryAddress: null,
    mailStopCode: null,
    attention: null
  },
  receipt: "PICKUP"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\orders\(salesOrderId)\orderItems:application\json:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="salesOrderId">attributes.uriParams.'salesOrderId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  orderItems: [
    {
      identifier: "eb8c8ca7-3c42-4489-a820-3aa138430b75",
      location: {
        locationId: "1c9a20dc-c585-42fd-ac1a-1216085b76d2",
        deliveryMethod: "PICKUP",
        locationType: "STORE"
      },
      item: {
        configuration: [
          {
            characteristic: {
              code: "size",
              description: "Size",
              name: "Size of item"
            },
            characteristicValue: {
              code: "M",
              name: "Medium"
            }
          }, 
          {
            characteristic: {
              code: "color",
              name: "Color",
              description: "Color"
            },
            characteristicValue: {
              code: "blue",
              name: "Blue"
            }
          }
        ],
        productId: "eb8c8ca7-3c42-4489-a820-3aa138430b75",
        identifier: "88668866-2c6d-4fa6-9e17-4b2c42e0f051",
        identifiers: {
          SKU: "UGG-BB-PUR-06"
        }
      },
      itemExtendedPrice: {
        currency: "EUR",
        currencyValue: 31.93,
        name: "Amount"
      },
      itemUnitPrice: {
        amount: {
          currency: "USD",
          currencyValue: 34.9,
          name: "Amount"
        },
        salesUnit: {
          code: "EA",
          name: "Each"
        }
      },
      quantity: {
        amount: 2,
        quantityType: "CONTINUOUS",
        unit: "EA"
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\orders\(salesOrderId)\payment:application\json:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="salesOrderId">attributes.uriParams.'salesOrderId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  paymentMethodType: {
    medium: "CARD",
    issuer: "BANK",
    name: "VISA"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\orders\(salesOrderId)\paymentMethod:application\json:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="salesOrderId">attributes.uriParams.'salesOrderId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  identifier: "paypal_order_id",
  paymentMethodType: {
    medium: "CARD",
    issuer: "BANK",
    name: "VISA"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\customers\(customerId)\contactMethods\(contactMethodId):application\json:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="customerId">attributes.uriParams.'customerId'</ee:set-variable>
                <ee:set-variable variableName="contactMethodId">attributes.uriParams.'contactMethodId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  contactMethodType: "EMAIL",
  emailAddress: "jason.bourne@example.com"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\customers\(customerId):application\json:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="customerId">attributes.uriParams.'customerId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  identifier: "deb89058-77fb-4e97-8c83-6506c38cacf8",
  firstName: "Jason",
  lastName: "Bourne",
  paymentMethods: [
    {
      paymentMethodType: {
        medium: "CARD",
        issuer: "BANK",
        name: "VISA"
      }
    }
  ],
  deliveryAddresses: [
    {
      identifier: "deb89058-77fb-4e97-8c83-6506c38cacf8",
      "type": "BILLING",
      address: "Main street 122",
      city: "San Francisco",
      state: "California",
      postalCode: "90210",
      recipient: "Jason Bourne",
      country: "US",
      secondaryAddress: null,
      mailStopCode: null,
      attention: null
    }, 
    {
      identifier: "deb89058-77fb-4e97-8c83-6506c38cacf8",
      "type": "SHIPPING",
      address: "Main street 122",
      city: "San Francisco",
      state: "California",
      postalCode: "90210",
      recipient: "Jason Bourne",
      country: "US",
      secondaryAddress: null,
      mailStopCode: null,
      attention: null
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\customers\(customerId)\deliveryAddresses\(deliveryAddressId):application\json:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="customerId">attributes.uriParams.'customerId'</ee:set-variable>
                <ee:set-variable variableName="deliveryAddressId">attributes.uriParams.'deliveryAddressId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  identifier: "deb89058-77fb-4e97-8c83-6506c38cacf8",
  "type": "BILLING",
  address: "Main street 122",
  city: "San Francisco",
  state: "California",
  postalCode: "90210",
  recipient: "Jason Bourne",
  country: "US",
  secondaryAddress: null,
  mailStopCode: null,
  attention: null
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\customers\(customerId)\paymentMethods\(paymentMethodId):application\json:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="customerId">attributes.uriParams.'customerId'</ee:set-variable>
                <ee:set-variable variableName="paymentMethodId">attributes.uriParams.'paymentMethodId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  identifier: "deb89058-77fb-4e97-8c83-6506c38c4444",
  paymentMethodType: {
    medium: "CARD",
    issuer: "BANK",
    name: "VISA"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\orders\(salesOrderId):application\json:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="salesOrderId">attributes.uriParams.'salesOrderId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  customerId: "facebook_1234567890123456"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\shoppingCarts\(shoppingCartId):application\json:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="shoppingCartId">attributes.uriParams.'shoppingCartId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  identifier: "eb8c8ca7-3c42-4489-a820-3aa138430b75"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\customers\(customerId)\contactMethods\(contactMethodId):api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="customerId">attributes.uriParams.'customerId'</ee:set-variable>
                <ee:set-variable variableName="contactMethodId">attributes.uriParams.'contactMethodId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "_meta": {
    messages: []
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\customers\(customerId):api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="customerId">attributes.uriParams.'customerId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "_meta": {
    messages: []
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\customers\(customerId)\deliveryAddresses\(deliveryAddressId):api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="customerId">attributes.uriParams.'customerId'</ee:set-variable>
                <ee:set-variable variableName="deliveryAddressId">attributes.uriParams.'deliveryAddressId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "_meta": {
    messages: []
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\customers\(customerId)\paymentMethods\(paymentMethodId):api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="customerId">attributes.uriParams.'customerId'</ee:set-variable>
                <ee:set-variable variableName="paymentMethodId">attributes.uriParams.'paymentMethodId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "_meta": {
    messages: []
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\orders\(salesOrderId):api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="salesOrderId">attributes.uriParams.'salesOrderId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "_meta": {
    messages: []
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\shoppingCarts\(shoppingCartId):api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="shoppingCartId">attributes.uriParams.'shoppingCartId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "_meta": {
    messages: []
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\products\(productId)\variants\(productVariantId)\availability:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="productId">attributes.uriParams.'productId'</ee:set-variable>
                <ee:set-variable variableName="productVariantId">attributes.uriParams.'productVariantId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  productId: "122332665555",
  variantId: "88668866-2c6d-4fa6-9e17-4b2c42e0f051",
  warehousesAvailability: [
    {
      warehouseId: "1",
      name: "Central Warehouse",
      availableCount: 100
    }
  ],
  partnersAvailability: [
    {
      quantityInStock: 20,
      productPrice: 36.9,
      tax: 3.69,
      partnerInfo: {
        partnerId: "2d9df8be-a185-4dde-9577-d6edf6cdb398",
        name: "Best Amazing Store",
        description: "",
        email: "info@luckystore.example.com",
        phone: "+1-202-555-0119",
        url: "www.luckystore.example.com",
        shippingPrice: 5.5
      }
    }
  ],
  storesAvailability: [
    {
      quantityInStock: 55,
      storeInfo: {
        storeId: "1c9a20dc-c585-42fd-ac1a-1216085b76d2",
        name: "Anypoint Store 1",
        description: "Department store chain providing brand-name c",
        notes: "",
        openingHours: "Mo,Tu,We,Th,Fr 08:00-18:00",
        address: {
          address: "170 O'Farrell St",
          city: "San Francisco",
          postalCode: "94102",
          state: "California",
          country: "USA"
        },
        contact: {
          email: "store1@anypointstore.example.com",
          phone: "+1-202-555-0111"
        },
        geo: {
          latitude: 37.78703308105469,
          longitude: -122.4060287475586
        },
        distance: 0.12951756569805717,
        distanceUnit: "km"
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\channels\(channelId)\categories:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="channelId">attributes.uriParams.'channelId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "_meta": {
    messages: []
  },
  categories: [
    {
      identifier: "fe3d0325-be8c-45b8-aa96-2331f25542be",
      name: "Sweaters",
      description: "Sweaters"
    }, 
    {
      identifier: "d3d0d1fd-b33c-4d40-b559-04665aa9ead6",
      name: "Hats",
      description: "Hats"
    }, 
    {
      identifier: "5e5b095e-8b60-429c-98bf-da36afeb1f1c",
      name: "Shirts",
      description: "Shirts"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\stores\(storeId)\categories:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="storeId">attributes.uriParams.'storeId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "_meta": {
    messages: []
  },
  products: [
    {
      brand: "Anypoint",
      identifier: "eb8c8ca7-3c42-4489-a820-3aa138430b75",
      categoryId: [
        "5e5b095e-8b60-429c-98bf-da36afeb1f1c"
      ],
      model: "Smart Slim Micro Stripe Shirt",
      rating: 5,
      description: "Shirt by ASOS Tall. Stripe woven fabric. Added stretch for comfort. Spread collar. Button placket. Slim fit - cut close to the body. Machine wash. 98% Cotton, 2% Elastane. Our model wears a size Medium Long and is 193cm/6'4\" tall",
      pictures: [
        "https://launderkart.com/wp-content/uploads/2016/07/Shirt.jpg", 
        "https://cdni.llbean.net/is/image/wim/251423_47_41?wid=428&hei=494"
      ],
      price: {
        amount: {
          currency: "USD",
          currencyValue: 34.9,
          name: "Amount"
        },
        salesUnit: {
          code: "EA",
          name: "Each"
        }
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\categories:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "_meta": {
    messages: []
  },
  categories: [
    {
      identifier: "49ed1d7f-9583-40aa-8e80-bfea709b16a4",
      name: "Most popular items",
      description: "Most popular items",
      abstract: true
    }, 
    {
      identifier: "fe3d0325-be8c-45b8-aa96-2331f25542be",
      name: "Sweaters",
      description: "Sweaters"
    }, 
    {
      identifier: "d3d0d1fd-b33c-4d40-b559-04665aa9ead6",
      name: "Jeans",
      description: "Jeans"
    }, 
    {
      identifier: "5e5b095e-8b60-429c-98bf-da36afeb1f1c",
      name: "Shirts",
      description: "Shirts"
    }, 
    {
      parentId: "49ed1d7f-9583-40aa-8e80-bfea709b16a4",
      identifier: "67912d0b-1dfa-4a62-a552-f0d01d5b0c79",
      name: "Hats",
      description: "Hats"
    }, 
    {
      parentId: "49ed1d7f-9583-40aa-8e80-bfea709b16a4",
      identifier: "c9032941-b3a5-4e8e-8134-baee3a751eb9",
      name: "Shoes",
      description: "Shoes"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\channels:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "_meta": {
    messages: []
  },
  channels: [
    {
      channelType: "WEB",
      url: "http://www.example.com"
    }, 
    {
      channelType: "STORE",
      storeNumber: "ae42643a-6d19-483c-82a2-54939d9da13e"
    }, 
    {
      channelType: "MOBILE",
      name: "iOS"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\customers\(customerId)\contactMethods:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="customerId">attributes.uriParams.'customerId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "_meta": {
    messages: []
  },
  contactMethods: [
    {
      contactMethodType: "EMAIL",
      emailAddress: "jason.bourne@example.com"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\customers:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "_meta": {
    messages: []
  },
  customers: [
    {
      identifier: "deb89058-77fb-4e97-8c83-6506c38cacf8",
      firstName: "Jason",
      lastName: "Bourne",
      paymentMethods: [
        {
          paymentMethodType: {
            medium: "CARD",
            issuer: "BANK",
            name: "VISA"
          }
        }
      ],
      deliveryAddresses: [
        {
          identifier: "deb89058-77fb-4e97-8c83-6506c38cacf8",
          "type": "BILLING",
          address: "Main street 122",
          city: "San Francisco",
          state: "California",
          postalCode: "90210",
          recipient: "Jason Bourne",
          country: "US",
          secondaryAddress: "",
          mailStopCode: "",
          attention: ""
        }
      ]
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\customers\(customerId)\deliveryAddresses:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="customerId">attributes.uriParams.'customerId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "_meta": {
    messages: []
  },
  deliveryAddresses: [
    {
      "type": "BILLING",
      identifier: "deb89058-77fb-4e97-8c83-6506c3855555",
      address: "Main street 122",
      city: "San Francisco",
      state: "California",
      postalCode: "90210",
      recipient: "Jason Bourne",
      country: "US",
      secondaryAddress: null,
      mailStopCode: null,
      attention: null
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\products\(productId)\features:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="productId">attributes.uriParams.'productId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\products\(productId)\features:api-config" />
    </flow>
    <flow name="get:\orders\(salesOrderId)\fulfillment:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="salesOrderId">attributes.uriParams.'salesOrderId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  carrier: "POSTAL",
  deliveryAddress: {
    identifier: "eb8c8ca7-3c42-4489-a820-3aa138430b75",
    "type": "SHIPPING",
    address: "Main street 122",
    city: "San Francisco",
    state: "California",
    postalCode: "90210",
    recipient: "Jason Bourne",
    country: "US",
    secondaryAddress: null,
    mailStopCode: null,
    attention: null
  },
  receipt: "PICKUP"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\channels\(channelId)\fulfillmentMethods:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="channelId">attributes.uriParams.'channelId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "_meta": {
    messages: []
  },
  fulfillmentMethods: [
    {
      carrier: "POSTAL",
      deliveryAddress: {
        identifier: "eb8c8ca7-3c42-4489-a820-3aa138430b75",
        "type": "SHIPPING",
        address: "Main street 122",
        city: "San Francisco",
        state: "California",
        postalCode: "90210",
        recipient: "Jason Bourne",
        country: "US",
        secondaryAddress: null,
        mailStopCode: null,
        attention: null
      },
      receipt: "PICKUP"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\stores\(storeId)\fulfillmentMethods:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="storeId">attributes.uriParams.'storeId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "_meta": {
    messages: []
  },
  fulfillmentMethods: [
    {
      carrier: "POSTAL",
      deliveryAddress: {
        identifier: "eb8c8ca7-3c42-4489-a820-3aa138430b75",
        "type": "SHIPPING",
        address: "Main street 122",
        city: "San Francisco",
        state: "California",
        postalCode: "90210",
        recipient: "Jason Bourne",
        country: "US",
        secondaryAddress: null,
        mailStopCode: null,
        attention: null
      },
      receipt: "PICKUP"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\stores\(storeId)\nearbyStores:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="storeId">attributes.uriParams.'storeId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "_meta": {
    messages: []
  },
  stores: [
    {
      storeId: "1c9a20dc-c585-42fd-ac1a-1216085b76d2",
      name: "Anypoint Store 1",
      description: "Department store chain providing brand-name c",
      notes: "Department store chain providing brand-name c",
      openingHours: "Mo,Tu,We,Th,Fr 09:00-20:00",
      address: {
        address: "170 O'Farrell St",
        city: "San Francisco",
        postalCode: "94102",
        state: "California",
        country: "USA"
      },
      contact: {
        email: "store1@anypointstore.example.com",
        phone: "+1-202-555-0111"
      },
      geo: {
        latitude: 37.78703308105469,
        longitude: -122.4060287475586
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\orders\(salesOrderId)\orderItems:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="salesOrderId">attributes.uriParams.'salesOrderId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  orderItems: [
    {
      identifier: "eb8c8ca7-3c42-4489-a820-3aa138430b75",
      location: {
        locationId: "1c9a20dc-c585-42fd-ac1a-1216085b76d2",
        deliveryMethod: "PICKUP",
        locationType: "STORE"
      },
      item: {
        configuration: [
          {
            characteristic: {
              code: "size",
              description: "Size",
              name: "Size of item"
            },
            characteristicValue: {
              code: "M",
              name: "Medium"
            }
          }, 
          {
            characteristic: {
              code: "color",
              name: "Color",
              description: "Color"
            },
            characteristicValue: {
              code: "blue",
              name: "Blue"
            }
          }
        ],
        productId: "eb8c8ca7-3c42-4489-a820-3aa138430b75",
        identifier: "88668866-2c6d-4fa6-9e17-4b2c42e0f051",
        identifiers: {
          SKU: "UGG-BB-PUR-06"
        }
      },
      itemExtendedPrice: {
        currency: "EUR",
        currencyValue: 31.93,
        name: "Amount"
      },
      itemUnitPrice: {
        amount: {
          currency: "USD",
          currencyValue: 34.9,
          name: "Amount"
        },
        salesUnit: {
          code: "EA",
          name: "Each"
        }
      },
      quantity: {
        amount: 2,
        quantityType: "CONTINUOUS",
        unit: "EA"
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\orders:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "_meta": {
    messages: []
  },
  orders: [
    {
      identifier: "eb8c8ca7-3c42-4489-a820-3aa138430b75",
      customerId: "deb89058-77fb-4e97-8c83-6506c38cacf8",
      orderItems: [
        {
          identifier: "eb8c8ca7-3c42-4489-a820-3aa138430b75",
          quantity: {
            quantityType: "DISCRETE",
            unit: "EA",
            amount: 1
          },
          location: {
            locationId: "1c9a20dc-c585-42fd-ac1a-1216085b76d2",
            deliveryMethod: "PICKUP",
            locationType: "STORE"
          },
          item: {
            identifier: "88668866-2c6d-4fa6-9e17-4b2c42e0f051",
            productId: "eb8c8ca7-3c42-4489-a820-3aa138430b75",
            identifiers: {
              SKU: "UGG-BB-PUR-06"
            }
          },
          itemUnitPrice: {
            amount: {
              currency: "USD",
              currencyValue: 34.9,
              name: "Amount"
            },
            salesUnit: {
              code: "EA",
              name: "Each"
            }
          }
        }
      ]
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\customers\(customerId)\orders:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="customerId">attributes.uriParams.'customerId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "_meta": {
    messages: []
  },
  orders: [
    {
      identifier: "8010J0000022iETQAY",
      customerId: "951",
      taxPrice: "4.25",
      shippingPrice: "5.00",
      shippingAddress: {
        identifier: "eb8c8ca7-3c42-4489-a820-3aa138430b75",
        "type": "SHIPPING",
        address: "Main Street 40",
        city: "San Francisco",
        postalCode: "94210",
        state: "CA",
        country: "US"
      },
      billingAddress: {
        identifier: "eb8c8ca7-3c42-4489-a820-3aa138430b75",
        "type": "SHIPPING",
        address: "Main Street 40",
        city: "San Francisco",
        postalCode: "94210",
        state: "CA",
        country: "US"
      },
      subtotal: "125.43",
      status: "Draft",
      trackingNumber: "8010J0000022iETQAY",
      orderItems: {
        pickupItems: [
          {
            orderItemId: "88668866-2c6d-4fa6-9e17-4b2c42e0f051",
            productId: "eb8c8ca7-3c42-4489-a820-3aa138430b75",
            productName: "Smart Slim Micro Stripe Shirt",
            location: {
              locationId: "1c9a20dc-c585-42fd-ac1a-1216085b76d2",
              deliveryMethod: "PICKUP",
              locationType: "STORE"
            },
            price: "50",
            quantity: 1
          }, 
          {
            orderItemId: "dfc25820-c37d-456c-8867-4a89a51b7f75",
            productId: "7c9be8ad-0791-4362-b195-a53dcca4e1d7",
            productName: "Men's Regular Fit V-Neck Knit Sweater",
            location: {
              locationId: "1c9a20dc-c585-42fd-ac1a-1216085b76d2",
              deliveryMethod: "PICKUP",
              locationType: "STORE"
            },
            price: "60",
            quantity: 2
          }
        ],
        shipmentItems: [
          {
            orderItemId: "3c1eb223-811c-4e86-8ea3-4a06a002a79a",
            productId: "cd67cd8a-8901-48c5-890b-0a21f4a0f8ad",
            productName: "Men's Chino Jogger Pants",
            location: {
              locationId: "1c9a20dc-c585-42fd-ac1a-1216085b76d2",
              deliveryMethod: "SHIPMENT",
              locationType: "WAREHOUSE"
            },
            price: "30",
            quantity: 3
          }
        ],
        partnersItems: [
          {
            orderItemId: "fc3d4900-c5ac-4649-8bc8-cbbef4fe8fde",
            productId: "e1c515f9-102d-4830-b353-18fe48065732",
            productName: "Uniforms Modern Fit Short Sleeve Polo Shirt",
            location: {
              locationId: "1c9a20dc-c585-42fd-ac1a-1216085b76d2",
              deliveryMethod: "SHIPMENT",
              locationType: "PARTNER"
            },
            price: "20",
            quantity: 1
          }
        ]
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\partners:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "_meta": {
    messages: []
  },
  partners: [
    {
      partnerId: "2d9df8be-a185-4dde-9577-d6edf6cdb398",
      name: "Best Amazing Store",
      description: "",
      email: "info@luckystore.example.com",
      phone: "+1-202-555-0119",
      url: "www.luckystore.example.com",
      shippingPrice: 5.5,
      rating: 4
    }, 
    {
      partnerId: "84c95f82-c435-4de0-8964-82e16bd23689",
      name: "Shop For You",
      description: "",
      email: "info@shopforyou.example.com",
      phone: "+1-202-555-0146",
      url: "www.shopforyou.example.com",
      shippingPrice: 7.5,
      rating: 4
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\orders\(salesOrderId)\payment:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="salesOrderId">attributes.uriParams.'salesOrderId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  paymentMethodType: {
    medium: "CARD",
    issuer: "BANK",
    name: "VISA"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\orders\(salesOrderId)\paymentMethod:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="salesOrderId">attributes.uriParams.'salesOrderId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  paymentMethodType: {
    medium: "CARD",
    issuer: "BANK",
    name: "VISA"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\customers\(customerId)\paymentMethods:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="customerId">attributes.uriParams.'customerId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "_meta": {
    messages: [],
    totalItems: 1,
    offset: 0,
    limit: 10
  },
  paymentMethods: [
    {
      identifier: "deb89058-77fb-4e97-8c83-6506c38c4444",
      paymentMethodType: {
        medium: "CARD",
        issuer: "BANK",
        name: "VISA"
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\stores\(storeId)\paymentMethods:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="storeId">attributes.uriParams.'storeId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "_meta": {
    messages: [],
    totalItems: 1,
    offset: 0,
    limit: 10
  },
  paymentMethods: [
    {
      paymentMethodType: {
        medium: "CARD",
        issuer: "BANK",
        name: "VISA"
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\channels\(channelId)\paymentMethods:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="channelId">attributes.uriParams.'channelId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "_meta": {
    messages: [],
    totalItems: 1,
    offset: 0,
    limit: 5
  },
  paymentMethods: [
    {
      paymentMethodType: {
        medium: "PHYSICAL",
        issuer: "GOVT",
        name: "CASH"
      }
    }, 
    {
      paymentMethodType: {
        medium: "PHYSICAL",
        issuer: "BANK",
        name: "CHECK"
      }
    }, 
    {
      paymentMethodType: {
        medium: "CARD",
        issuer: "BANK",
        name: "VISA"
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\products:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "_meta": {
    messages: []
  },
  products: [
    {
      brand: "Anypoint",
      identifier: "eb8c8ca7-3c42-4489-a820-3aa138430b75",
      categoryId: [
        "5e5b095e-8b60-429c-98bf-da36afeb1f1c"
      ],
      model: "Smart Slim Micro Stripe Shirt",
      rating: 5,
      description: "Shirt by ASOS Tall. Stripe woven fabric. Added stretch for comfort. Spread collar. Button placket. Slim fit - cut close to the body. Machine wash. 98% Cotton, 2% Elastane. Our model wears a size Medium Long and is 193cm/6'4\" tall",
      pictures: [
        "https://launderkart.com/wp-content/uploads/2016/07/Shirt.jpg", 
        "https://cdni.llbean.net/is/image/wim/251423_47_41?wid=428&hei=494"
      ],
      price: {
        amount: {
          currency: "USD",
          currencyValue: 34.9,
          name: "Amount"
        },
        salesUnit: {
          code: "EA",
          name: "Each"
        }
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\categories\(categoryId)\products:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="categoryId">attributes.uriParams.'categoryId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "_meta": {
    messages: []
  },
  products: [
    {
      brand: "Anypoint",
      identifier: "eb8c8ca7-3c42-4489-a820-3aa138430b75",
      categoryId: [
        "5e5b095e-8b60-429c-98bf-da36afeb1f1c"
      ],
      model: "Smart Slim Micro Stripe Shirt",
      rating: 5,
      description: "Shirt by ASOS Tall. Stripe woven fabric. Added stretch for comfort. Spread collar. Button placket. Slim fit - cut close to the body. Machine wash. 98% Cotton, 2% Elastane. Our model wears a size Medium Long and is 193cm/6'4\" tall",
      pictures: [
        "https://cdni.llbean.net/is/image/wim/251423_0_52??wid=428&hei=494", 
        "https://cdni.llbean.net/is/image/wim/251423_47_41?wid=428&hei=494"
      ],
      price: {
        amount: {
          currency: "USD",
          currencyValue: 34.9,
          name: "Amount"
        },
        salesUnit: {
          code: "EA",
          name: "Each"
        }
      }
    }, 
    {
      brand: "Anypoint",
      identifier: "e1c515f9-102d-4830-b353-18fe48065732",
      categoryId: [
        "5e5b095e-8b60-429c-98bf-da36afeb1f1c"
      ],
      model: "Uniforms Modern Fit Short Sleeve Polo Shirt",
      rating: 5,
      description: "Machine Wash, Tumble Dry. True to Size.",
      pictures: [
        "https://images-na.ssl-images-amazon.com/images/I/41p0XBBb6vL.jpg"
      ],
      price: {
        amount: {
          currency: "USD",
          currencyValue: 12.95,
          name: "Amount"
        },
        salesUnit: {
          code: "EA",
          name: "Each"
        }
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\stores\(storeId)\products:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="storeId">attributes.uriParams.'storeId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "_meta": {
    messages: []
  },
  products: [
    {
      brand: "Anypoint",
      identifier: "eb8c8ca7-3c42-4489-a820-3aa138430b75",
      categoryId: [
        "5e5b095e-8b60-429c-98bf-da36afeb1f1c"
      ],
      model: "Smart Slim Micro Stripe Shirt",
      rating: 5,
      description: "Shirt by ASOS Tall. Stripe woven fabric. Added stretch for comfort. Spread collar. Button placket. Slim fit - cut close to the body. Machine wash. 98% Cotton, 2% Elastane. Our model wears a size Medium Long and is 193cm/6'4\" tall",
      pictures: [
        "https://launderkart.com/wp-content/uploads/2016/07/Shirt.jpg", 
        "https://cdni.llbean.net/is/image/wim/251423_47_41?wid=428&hei=494"
      ],
      price: {
        amount: {
          currency: "USD",
          currencyValue: 34.9,
          name: "Amount"
        },
        salesUnit: {
          code: "EA",
          name: "Each"
        }
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\channels\(channelId)\products:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="channelId">attributes.uriParams.'channelId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "_meta": {
    messages: []
  },
  products: [
    {
      brand: "Anypoint",
      identifier: "eb8c8ca7-3c42-4489-a820-3aa138430b75",
      categoryId: [
        "5e5b095e-8b60-429c-98bf-da36afeb1f1c"
      ],
      model: "Smart Slim Micro Stripe Shirt",
      rating: 5,
      description: "Shirt by ASOS Tall. Stripe woven fabric. Added stretch for comfort. Spread collar. Button placket. Slim fit - cut close to the body. Machine wash. 98% Cotton, 2% Elastane. Our model wears a size Medium Long and is 193cm/6'4\" tall",
      pictures: [
        "https://launderkart.com/wp-content/uploads/2016/07/Shirt.jpg", 
        "https://cdni.llbean.net/is/image/wim/251423_47_41?wid=428&hei=494"
      ],
      price: {
        amount: {
          currency: "USD",
          currencyValue: 34.9,
          name: "Amount"
        },
        salesUnit: {
          code: "EA",
          name: "Each"
        }
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\customers\(customerId)\shoppingCarts:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="customerId">attributes.uriParams.'customerId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "_meta": {
    messages: []
  },
  shoppingCarts: [
    {
      identifier: "734a04dc-2f30-11e7-93ae-92361f002671",
      customerId: "11e7-93ae-92361f002671",
      items: [
        {
          location: {
            locationId: "1c9a20dc-c585-42fd-ac1a-1216085b76d2",
            deliveryMethod: "PICKUP",
            locationType: "STORE"
          },
          item: {
            productId: "eb8c8ca7-3c42-4489-a820-3aa138430b75",
            identifier: "88668866-2c6d-4fa6-9e17-4b2c42e0f051"
          },
          quantity: {
            amount: 2,
            quantityType: "DISCRETE",
            unit: "EA"
          },
          tax: 5.0,
          shipping: 9.0
        }
      ]
    }, 
    {
      identifier: "734a04dc-2f30-11e7-93ae-92361f002675",
      customerId: "11e7-93ae-92361f002671",
      items: [
        {
          location: {
            locationId: "1c9a20dc-c585-42fd-ac1a-1216085b76d2",
            deliveryMethod: "PICKUP",
            locationType: "STORE"
          },
          item: {
            productId: "eb8c8ca7-3c42-5489-a820-3aa138430b70",
            identifier: "8866846-2c6d-4fa7-9e17-4b2c42e0f051"
          },
          quantity: {
            amount: 1,
            quantityType: "DISCRETE",
            unit: "EA"
          },
          tax: 5.0,
          shipping: 9.0
        }
      ]
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\shoppingCarts:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "_meta": {
    messages: []
  },
  shoppingCarts: [
    {
      identifier: "734a04dc-2f30-11e7-93ae-92361f002671",
      customerId: "11e7-93ae-92361f002671",
      items: [
        {
          location: {
            locationId: "1c9a20dc-c585-42fd-ac1a-1216085b76d2",
            deliveryMethod: "PICKUP",
            locationType: "STORE"
          },
          item: {
            productId: "eb8c8ca7-3c42-4489-a820-3aa138430b75",
            identifier: "88668866-2c6d-4fa6-9e17-4b2c42e0f051",
            identifiers: {
              SKU: "UGG-BB-PUR-06"
            },
            configuration: [
              {
                characteristic: {
                  code: "size",
                  description: "Size",
                  name: "Size of item"
                },
                characteristicValue: {
                  code: "M",
                  name: "Medium"
                }
              }, 
              {
                characteristic: {
                  code: "color",
                  description: "Color",
                  name: "Color"
                },
                characteristicValue: {
                  code: "blue",
                  name: "Blue"
                }
              }
            ]
          },
          quantity: {
            amount: 2,
            quantityType: "DISCRETE",
            unit: "EA"
          },
          tax: 5.0,
          shipping: 9.0
        }
      ]
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\stores:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "_meta": {
    messages: []
  },
  stores: [
    {
      storeId: "1c9a20dc-c585-42fd-ac1a-1216085b76d2",
      name: "Anypoint Store 1",
      description: "Department store chain providing brand-name c",
      notes: "Department store chain providing brand-name c",
      openingHours: "Mo,Tu,We,Th,Fr 09:00-20:00",
      address: {
        address: "170 O'Farrell St",
        city: "San Francisco",
        postalCode: "94102",
        state: "California",
        country: "USA"
      },
      contact: {
        email: "store1@anypointstore.example.com",
        phone: "+1-202-555-0111"
      },
      geo: {
        latitude: 37.78703308105469,
        longitude: -122.4060287475586
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\products\(productId)\variants:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="productId">attributes.uriParams.'productId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "_meta": {
    messages: []
  },
  variants: [
    {
      productId: "eb8c8ca7-3c42-4489-a820-3aa138430b75",
      identifier: "88668866-2c6d-4fa6-9e17-4b2c42e0f051",
      identifiers: {
        SKU: "UGG-BB-PUR-06"
      },
      pictures: [
        "https://cdni.llbean.net/is/image/wim/251423_0_52??wid=428&hei=494", 
        "https://cdni.llbean.net/is/image/wim/251423_47_41?wid=428&hei=494"
      ],
      price: {
        amount: {
          currency: "USD",
          currencyValue: 47.95,
          name: "Amount"
        },
        salesUnit: {
          code: "EA",
          name: "EACH"
        }
      },
      configuration: [
        {
          characteristic: {
            code: "size",
            description: "Size",
            name: "Size of item"
          },
          characteristicValue: {
            code: "M",
            name: "Medium"
          }
        }, 
        {
          characteristic: {
            code: "color",
            description: "Color",
            name: "Color"
          },
          characteristicValue: {
            code: "blue",
            name: "Blue"
          }
        }
      ]
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\categories\(categoryId):api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="categoryId">attributes.uriParams.'categoryId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  parentId: "49ed1d7f-9583-40aa-8e80-bfea709b16a4",
  identifier: "5e5b095e-8b60-429c-98bf-da36afeb1f1c",
  name: "Shirts",
  description: "Shirts"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\channels\(channelId):api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="channelId">attributes.uriParams.'channelId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  channelType: "WEB",
  url: "http://www.example.com"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\customers\(customerId)\contactMethods\(contactMethodId):api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="customerId">attributes.uriParams.'customerId'</ee:set-variable>
                <ee:set-variable variableName="contactMethodId">attributes.uriParams.'contactMethodId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  contactMethodType: "EMAIL",
  emailAddress: "jason.bourne@example.com"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\customers\(customerId):api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="customerId">attributes.uriParams.'customerId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  identifier: "deb89058-77fb-4e97-8c83-6506c38cacf8",
  firstName: "Jason",
  lastName: "Bourne",
  paymentMethods: [
    {
      paymentMethodType: {
        medium: "CARD",
        issuer: "BANK",
        name: "VISA"
      }
    }
  ],
  deliveryAddresses: [
    {
      identifier: "deb89058-77fb-4e97-8c83-6506c38cacf8",
      address: "Main street 122",
      "type": "BILLING",
      city: "San Francisco",
      state: "California",
      postalCode: "90210",
      recipient: "Jason Bourne",
      country: "US",
      secondaryAddress: null,
      mailStopCode: null,
      attention: null
    }, 
    {
      identifier: "deb89058-77fb-4e97-8c83-6506c38cacf8",
      address: "Main street 122",
      "type": "SHIPPING",
      city: "San Francisco",
      state: "California",
      postalCode: "90210",
      recipient: "Jason Bourne",
      country: "US",
      secondaryAddress: null,
      mailStopCode: null,
      attention: null
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\customers\(customerId)\deliveryAddresses\(deliveryAddressId):api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="customerId">attributes.uriParams.'customerId'</ee:set-variable>
                <ee:set-variable variableName="deliveryAddressId">attributes.uriParams.'deliveryAddressId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  identifier: "deb89058-77fb-4e97-8c83-6506c38cacf8",
  "type": "BILLING",
  address: "Main street 122",
  city: "San Francisco",
  state: "California",
  postalCode: "90210",
  recipient: "Jason Bourne",
  country: "US",
  secondaryAddress: null,
  mailStopCode: null,
  attention: null
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\products\(productId)\features\(featureId):api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="productId">attributes.uriParams.'productId'</ee:set-variable>
                <ee:set-variable variableName="featureId">attributes.uriParams.'featureId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\products\(productId)\features\(featureId):api-config" />
    </flow>
    <flow name="get:\partners\(partnerId):api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="partnerId">attributes.uriParams.'partnerId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  partnerId: "2d9df8be-a185-4dde-9577-d6edf6cdb398",
  name: "Best Amazing Store",
  description: "",
  email: "info@luckystore.example.com",
  phone: "+1-202-555-0119",
  url: "www.luckystore.example.com",
  shippingPrice: 5.5,
  rating: 4
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\customers\(customerId)\paymentMethods\(paymentMethodId):api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="customerId">attributes.uriParams.'customerId'</ee:set-variable>
                <ee:set-variable variableName="paymentMethodId">attributes.uriParams.'paymentMethodId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  identifier: "deb89058-77fb-4e97-8c83-6506c38c4444",
  paymentMethodType: {
    medium: "CARD",
    issuer: "BANK",
    name: "VISA"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\products\(productId):api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="productId">attributes.uriParams.'productId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  brand: "Anypoint",
  identifier: "eb8c8ca7-3c42-4489-a820-3aa138430b75",
  categoryId: [
    "5e5b095e-8b60-429c-98bf-da36afeb1f1c"
  ],
  model: "Smart Slim Micro Stripe Shirt",
  rating: 5,
  description: "Shirt by ASOS Tall. Stripe woven fabric. Added stretch for comfort. Spread collar. Button placket. Slim fit - cut close to the body. Machine wash. 98% Cotton, 2% Elastane. Our model wears a size Medium Long and is 193cm/6'4\" tall",
  pictures: [
    "https://launderkart.com/wp-content/uploads/2016/07/Shirt.jpg", 
    "https://cdni.llbean.net/is/image/wim/251423_47_41?wid=428&hei=494"
  ],
  price: {
    amount: {
      currency: "USD",
      currencyValue: 34.9,
      name: "Amount"
    },
    salesUnit: {
      code: "EA",
      name: "Each"
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\products\(productId)\variants\(productVariantId):api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="productId">attributes.uriParams.'productId'</ee:set-variable>
                <ee:set-variable variableName="productVariantId">attributes.uriParams.'productVariantId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  productId: "eb8c8ca7-3c42-4489-a820-3aa138430b75",
  identifier: "88668866-2c6d-4fa6-9e17-4b2c42e0f051",
  identifiers: {
    SKU: "UGG-BB-PUR-06"
  },
  pictures: [
    "https://cdni.llbean.net/is/image/wim/251423_0_52??wid=428&hei=494", 
    "https://cdni.llbean.net/is/image/wim/251423_47_41?wid=428&hei=494"
  ],
  price: {
    amount: {
      currency: "USD",
      currencyValue: 47.95,
      name: "Amount"
    },
    salesUnit: {
      code: "EA",
      name: "EACH"
    }
  },
  configuration: [
    {
      characteristic: {
        code: "size",
        description: "Size",
        name: "Size of item"
      },
      characteristicValue: {
        code: "M",
        name: "Medium"
      }
    }, 
    {
      characteristic: {
        code: "color",
        description: "Color",
        name: "Color"
      },
      characteristicValue: {
        code: "blue",
        name: "Blue"
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\orders\(salesOrderId):api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="salesOrderId">attributes.uriParams.'salesOrderId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  customerId: "facebook_1234567890123456"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\shoppingCarts\(shoppingCartId):api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="shoppingCartId">attributes.uriParams.'shoppingCartId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  identifier: "734a04dc-2f30-11e7-93ae-92361f002671",
  customerId: "11e7-93ae-92361f002671",
  items: [
    {
      location: {
        locationId: "1c9a20dc-c585-42fd-ac1a-1216085b76d2",
        deliveryMethod: "PICKUP",
        locationType: "STORE"
      },
      item: {
        productId: "eb8c8ca7-3c42-4489-a820-3aa138430b75",
        identifier: "88668866-2c6d-4fa6-9e17-4b2c42e0f051",
        identifiers: {
          SKU: "UGG-BB-PUR-06"
        },
        configuration: [
          {
            characteristic: {
              code: "size",
              description: "Size",
              name: "Size of item"
            },
            characteristicValue: {
              code: "M",
              name: "Medium"
            }
          }, 
          {
            characteristic: {
              code: "color",
              description: "Color",
              name: "Color"
            },
            characteristicValue: {
              code: "blue",
              name: "Blue"
            }
          }
        ]
      },
      quantity: {
        amount: 2,
        quantityType: "DISCRETE",
        unit: "EA"
      },
      tax: 5.0,
      shipping: 9.0
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\stores\(storeId):api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="storeId">attributes.uriParams.'storeId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  storeId: "1c9a20dc-c585-42fd-ac1a-1216085b76d2",
  name: "Anypoint Store 1",
  description: "Department store chain providing brand-name c",
  notes: "Department store chain providing brand-name c",
  openingHours: "Mo,Tu,We,Th,Fr 09:00-20:00",
  address: {
    address: "170 O'Farrell St",
    city: "San Francisco",
    postalCode: "94102",
    state: "California",
    country: "USA"
  },
  contact: {
    email: "store1@anypointstore.example.com",
    phone: "+1-202-555-0111"
  },
  geo: {
    latitude: 37.78703308105469,
    longitude: -122.4060287475586
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\customers\(customerId)\contactMethods:application\json:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="customerId">attributes.uriParams.'customerId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="post:\customers\(customerId)\contactMethods:application\json:api-config" />
    </flow>
    <flow name="post:\customers:application\json:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  identifier: "deb89058-77fb-4e97-8c83-6506c38cacf8",
  firstName: "Jason",
  lastName: "Bourne",
  paymentMethods: [
    {
      identifier: "deb89058-77fb-4e97-8c83-6506c38c4444",
      paymentMethodType: {
        medium: "CARD",
        issuer: "BANK",
        name: "VISA"
      }
    }
  ],
  deliveryAddresses: [
    {
      "type": "BILLING",
      identifier: "deb89058-77fb-4e97-8c83-6506c3855555",
      address: "Main street 122",
      city: "San Francisco",
      state: "California",
      postalCode: "90210",
      recipient: "Jason Bourne",
      country: "US",
      secondaryAddress: null,
      mailStopCode: null,
      attention: null
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\customers\(customerId)\deliveryAddresses:application\json:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="customerId">attributes.uriParams.'customerId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  identifier: "deb89058-77fb-4e97-8c83-6506c38cacf8",
  "type": "BILLING",
  address: "Main street 122",
  city: "San Francisco",
  state: "California",
  postalCode: "90210",
  recipient: "Jason Bourne",
  country: "US",
  secondaryAddress: null,
  mailStopCode: null,
  attention: null
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\orders:application\json:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  customerId: "facebook_1234567890123456"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\orders\(salesOrderId)\payment:application\json:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="salesOrderId">attributes.uriParams.'salesOrderId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  identifier: "5O190127TN364715T",
  status: "PAID",
  links: [
    {
      href: "https://api.paypal.com/v2/checkout/orders/5O190127TN364715T",
      rel: "self",
      method: "GET"
    }, 
    {
      href: "https://api.sandbox.paypal.com/checkoutnow?token=5O190127TN364715T",
      rel: "approve",
      method: "GET"
    }, 
    {
      href: "https://api.paypal.com/v2/checkout/orders/5O190127TN364715T/capture",
      rel: "capture",
      method: "POST"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\customers\(customerId)\paymentMethods:application\json:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="customerId">attributes.uriParams.'customerId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  identifier: "deb89058-77fb-4e97-8c83-6506c38c4444",
  paymentMethodType: {
    medium: "CARD",
    issuer: "BANK",
    name: "VISA"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\shoppingCarts:application\json:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  identifier: "eb8c8ca7-3c42-4489-a820-3aa138430b75"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
